/* SCROLL fade up from bottom */

.a-up {
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly below its original position */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth animation */
}

.a-up.animate {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Return to original position */
}

/* fade in left */

.a-left {
  opacity: 0; /* Start invisible */
  transform: translateX(-20px); /* Start slightly to the left */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.a-left.animate {
  opacity: 1; /* Fully visible */
  transform: translateX(0); /* Return to original position */
}

/* fade in right */

.a-right {
  opacity: 0; /* Start invisible */
  transform: translateX(20px); /* Start slightly to the right */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.a-right.animate {
  opacity: 1; /* Fully visible */
  transform: translateX(0); /* Return to original position */
}
