:root {
  --heading: "Playfair Display", serif;
  --sub: "Poppins", sans-serif;
  --primary: #544559;
  --secondary: #efede9;
  --accent-dark: #000000;
  --accent-purp: #beb3c4;
}

.offcanvas {
  width: 300px;
}

.nav-link {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.navbar {
  background-color: var(--primary);
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-brand {
  width: 300px;
}

.navbar-toggler {
  background-color: transparent;
  margin-right: 30px;
}

.dropdown-menu {
  position: static;
  float: none;
}

.offcanvas-body {
  margin-top: 100px;
  font-family: var(--sub);
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
}

.offcanvas {
  background-color: var(--accent-purp);
}

.offcanvas-header {
  margin-left: 80px;
}

body {
  margin: 0;
  /* let page scroll normally */
}

.horizontal-wrapper {
  display: flex;
  height: 100vh;
  /* width based on number of panels: leave this or let GSAP calculate end */
  overflow: hidden;
}

.panel {
  flex: 0 0 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

section p {
  font-family: var(--sub);
  font-weight: 200;
  font-size: 20px;
  width: 500px;
  text-transform: uppercase;
  color: var(--accent-dark);
  text-align: center;
}

/* SERVICES */
.main-section {
  background-color: var(--accent-purp);
}

.hair-section {
  background-image: url(../img/hair_67.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.nail-section {
  background-color: var(--secondary);
}

.headspa-section {
  background-image: url(../img/hair_61.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* ABOUT */

.hero-about {
  background-image: url(../img/hair3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
}

.hero-about h1 {
  color: var(--secondary);
  font-family: var(--heading);
  font-weight: 100;
  font-size: 130px;
  text-align: center;
  padding-top: 100px;
}

.hero-about p {
  color: var(--secondary);
  font-family: var(--sub);
  font-weight: 200;
  font-size: 18px;
  margin-top: 180px;
  text-align: end;
  margin-right: 20px;
}

/* CONTACT */

.hero-contact {
  background-image: url(../img/mock1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
}

.hero-contact h1 {
  color: var(--secondary);
  font-family: var(--heading);
  font-weight: 100;
  font-size: 130px;
  text-align: center;
  padding-top: 100px;
}

.hero-contact p {
  color: var(--secondary);
  font-family: var(--sub);
  font-weight: 200;
  font-size: 18px;
  margin-top: 180px;
  text-align: end;
  margin-right: 20px;
}

/* Booking */

.hero-booking {
  background-image: url(../img/mock1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
}

.hero-booking h1 {
  color: var(--secondary);
  font-family: var(--heading);
  font-weight: 100;
  font-size: 130px;
  text-align: center;
  padding-top: 100px;
}

.hero-booking p {
  color: var(--secondary);
  font-family: var(--sub);
  font-weight: 200;
  font-size: 18px;
  margin-top: 180px;
  text-align: end;
  margin-right: 20px;
}
